$background-color: #e7e7e7;
$danger-button-background: #ffaa91;
$danger-button-foreground: #fff;
$font-color: #293c4b;
$fret-color: #bdbcc0;
$fret-marker-color: #f8f8dc;
$fretboard-color: #4f0400;
$octave-color: RGBA(195, 255, 48, 0.4);
$primary-button-background: #7cd6ff;
$primary-button-foreground: #fff;
$selected-note-color: RGBA(195, 255, 48, 0.85);
$string-color: #808183;
$string-name-color: #fff;

body {
  background: $background-color;
  color: $font-color;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
}

.logo {
  margin: 20px 0;
  max-width: 200px;
}

.game-controls {
  & > * {
    display: block;
  }
}

.menu {
  display: flex;

  li {
    cursor: pointer;
    list-style: none;
    margin-right: 2rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fretboard {
  margin-top: 3rem;
  border-left: 1px solid black;
  background-image: linear-gradient(#5a2523, #5c312f, #470a07);
}

.string-container {
  align-items: center;
  display: flex;

  &:first-child {
    border-top: 1px solid black;
  }

  &:last-child {
    border-bottom: 1px solid black;
  }

  & .string-name {
    color: $string-name-color;
    cursor: pointer;
    font-weight: 600;
    margin: 0 1rem;
    position: relative;
    width: 1.2rem;

    &.octave::after,
    &.selected::after {
      border-radius: 2rem;
      content: '';
      height: 2rem;
      left: -0.375rem;
      position: absolute;
      top: -0.375rem;
      width: 2rem;
    }

    &.octave::after {
      background: $octave-color;
    }

    &.selected::after {
      background: $selected-note-color;
    }
  }

  .string {
    display: flex;
  }
}

.fret {
  align-items: center;
  border-left: 1px solid $fret-color;
  border-right: 1px solid $fret-color;
  display: flex;
  height: 3rem;
  position: relative;
  width: 6rem;

  &.fret-marker::after {
    content: '';
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $fret-marker-color;
    position: absolute;
    left: calc(50% - 20px / 2);
    top: 2.5rem;
  }

  &:nth-child(12).fret-marker {
    &::after {
      top: 5.5rem;
    }

    &::before {
      @extend .fret.fret-marker::after;
      top: -0.5rem;
    }
  }
}

.string-line {
  background-image: linear-gradient(#666666, #d0d0d0, #666666);
  cursor: pointer;
  height: 0.5rem;
  position: relative;
  width: 100%;

  &:hover {
    background-image: linear-gradient(#333, #fff, #fff, #333);
  }

  &.octave::after,
  &.selected::after {
    border-radius: 2rem;
    content: '';
    height: 2rem;
    left: calc(50% - 1rem);
    position: absolute;
    top: calc(50% - 1rem);
    width: 2rem;
  }

  &.octave::after {
    background: $octave-color;
  }

  &.selected::after {
    background: $selected-note-color;
  }
}

.btn {
  border-radius: 0.4rem;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  height: 4rem;
  margin-top: 2rem;
}

.primary-btn {
  @extend .btn;
  background-color: $primary-button-background;
  color: $primary-button-foreground;

  &:hover {
    background-color: lighten($primary-button-background, 5);
  }
}

.danger-btn {
  @extend .btn;
  background-color: $danger-button-background;
  color: $danger-button-foreground;

  &:hover {
    background-color: lighten($danger-button-background, 5);
  }
}

.pick-note-btn {
  @extend .primary-btn;
  background: url(../public/dice.svg) no-repeat $primary-button-background;
  background-position: 1rem 0.75rem;
  background-size: 2.5rem;
  padding: 0 1.9rem 0 4rem;
}

.show-answer-btn {
  @extend .danger-btn;
  background: url(../public/reveal.svg) no-repeat $danger-button-background;
  background-position: 0.75rem;
  background-size: 2.5rem;
  padding-left: 3.7rem;
}

.selected-note-info {
  margin-top: 2rem;
  text-align: left;

  .label {
    width: 6rem;
    display: inline-block;
  }

  .note-name {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
  }

  .title {
    font-weight: bold;
  }
}
