$background-color: #e7e7e7;
$danger-button-background: #ffaa91;
$danger-button-foreground: #fff;
$font-color: #293c4b;
$fret-color: #bdbcc0;
$fret-marker-color: #f8f8dc;
$fretboard-color: #4f0400;
$octave-color: RGBA(195, 255, 48, 0.4);
$primary-button-background: #7cd6ff;
$primary-button-foreground: #fff;
$selected-note-color: rgba(195, 255, 48, 0.85);
$string-color: #808183;
$string-name-color: #fff;
$menu-item-active: #d8d8d8;
$correct-answer-background-color: #50a350;
$incorrect-answer-background-color: #cd5858;
$toggle-inactive-background-color: #d6d6d6;
$toggle-active-background-color: #2196f3;
$toggle-indicator-color: #fff;

body {
  background: $background-color;
  color: $font-color;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
}

.game-controls {
  & > * {
    display: block;
  }

  &.learn-notes {
    margin-top: 1rem;
  }

  .note-buttons {
    margin-top: 2rem;

    button {
      background: #fff;
      border: none;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1.5rem;
      margin: 0.5rem;
      width: 4rem;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.21);

      &[disabled] {
        opacity: 0.8;
      }

      &:not(.accidental) {
        position: relative;
        top: 5rem;
      }

      &:not([disabled]):hover {
        background: darken(#fff, 6);
      }

      &.accidental {
        background: #000;
        color: #fff;
        position: absolute;
        margin-left: -2rem;

        &[disabled] {
          background: lighten(#000, 15);
          color: darkgrey;
        }

        &:not([disabled]):hover {
          background: lighten(#000, 10);
        }
      }
    }
  }
}

.header-container {
  align-items: center;
  justify-content: space-between;
  margin: 1rem 5rem;
  display: flex;
  width: 100%;
}

.logo {
  margin: 20px 0;
  max-width: 200px;
}

.menu {
  display: flex;

  li {
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
    list-style: none;
    padding: 1rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &.active {
      background: $menu-item-active;
    }

    &:hover {
      background: darken($menu-item-active, 8);
    }
  }
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 92rem;
}

.fretboard-container {
  margin-top: 3rem;
  width: 100%;
  overflow-x: scroll;
}

.fretboard {
  background-image: linear-gradient(#5a2523, #5c312f, #470a07);
  border-left: 1px solid black;
  width: 92rem;
}

.string-container {
  align-items: center;
  display: flex;

  &:first-child {
    border-top: 1px solid black;
  }

  &:last-child {
    border-bottom: 1px solid black;
  }

  & .string-name {
    color: $string-name-color;
    cursor: pointer;
    font-weight: 600;
    margin: 0 1rem;
    position: relative;
    width: 1.2rem;

    &.octave::after,
    &.selected::after {
      border-radius: 2rem;
      content: '';
      height: 2rem;
      left: -0.375rem;
      position: absolute;
      top: -0.375rem;
      width: 2rem;
    }

    &.octave::after {
      background: $octave-color;
    }

    &.selected::after {
      background: $selected-note-color;
    }
  }

  .string {
    display: flex;
  }
}

.fret {
  align-items: center;
  border-left: 1px solid $fret-color;
  border-right: 1px solid $fret-color;
  display: flex;
  height: 3rem;
  position: relative;
  width: 6rem;

  &.fret-marker::after {
    content: '';
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $fret-marker-color;
    position: absolute;
    left: calc(50% - 20px / 2);
    top: 2.5rem;
  }

  &:nth-child(12).fret-marker {
    &::after {
      top: 5.5rem;
    }

    &::before {
      @extend .fret.fret-marker::after;
      top: -0.5rem;
    }
  }
}

.string-line {
  background-image: linear-gradient(#666666, #d0d0d0, #666666);
  box-shadow: -1px 8px 12px 1px rgba(0, 0, 0, 0.2);
  height: 0.5rem;
  position: absolute;
  width: 102%;
  z-index: 1;

  &.clickable:hover {
    background-image: linear-gradient(#333, #fff, #fff, #333);
    cursor: pointer;
  }

  &.octave::after,
  &.selected::after {
    border-radius: 2rem;
    content: '';
    height: 2rem;
    left: calc(50% - 1rem);
    position: absolute;
    top: calc(50% - 1rem);
    width: 2rem;
  }

  &.octave::after {
    background: $octave-color;
  }

  &.selected::after {
    background: $selected-note-color;
  }

  .selected-note-name {
    color: #000;
    font-weight: bold;
    position: relative;
    z-index: 1;
    top: -0.4rem;
  }
}

.btn {
  border-radius: 0.4rem;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  height: 4rem;
  margin-top: 2rem;
}

.primary-btn {
  @extend .btn;
  background-color: $primary-button-background;
  color: $primary-button-foreground;

  &:hover {
    background-color: lighten($primary-button-background, 5);
  }
}

.danger-btn {
  @extend .btn;
  background-color: $danger-button-background;
  color: $danger-button-foreground;

  &:hover {
    background-color: lighten($danger-button-background, 5);
  }
}

.pick-note-btn {
  @extend .primary-btn;
  background: url(../public/dice.svg) no-repeat $primary-button-background;
  background-position: 1rem 0.75rem;
  background-size: 2.5rem;
  padding: 0 1.9rem 0 4rem;
}

.show-answer-btn {
  @extend .danger-btn;
  background: url(../public/reveal.svg) no-repeat $danger-button-background;
  background-position: 0.75rem;
  background-size: 2.5rem;
  padding-left: 3.7rem;
}

.selected-note-info {
  margin: 2rem auto;
  text-align: left;
  width: 7.2rem;

  .label {
    width: 6rem;
    display: inline-block;
  }

  .note-name {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
  }

  .title {
    font-weight: bold;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.game-feedback {
  border-radius: 0 0 0.5rem 0.5rem;
  color: white;
  font-weight: 600;
  padding: 0.5rem;

  &.correct {
    background: $correct-answer-background-color;
  }

  &.incorrect {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    background: $incorrect-answer-background-color;
    transform: translate3d(0, 0, 0);
  }
}

.toggle-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .label-text {
    margin-left: 8px;
  }

  .toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: $toggle-inactive-background-color;
    overflow: hidden;
  }

  .toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 22px;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
  }

  .active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: $toggle-active-background-color;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
  }

  .toggle-state {
    display: none;
  }

  .indicator {
    height: 100%;
    width: 200%;
    background: $toggle-indicator-color;
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }

  .toggle-state:checked ~ .active-bg {
    transform: translate3d(-50%, 0, 0);
  }

  .toggle-state:checked ~ .toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
  }
}
